/* Font-raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --bg-blue: #3889cb;
    --light: #f8f9fa;
}

/* Removes Default margins and paddings */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.logo {
    width: 8vw;
}

.postBTN {
    width: 12.2vw;
}


.grid {
    display: grid;
    justify-content: center;
}

.button-content {
    margin: .15rem;
}

span {
    width: 10rem;
    align-items: center;
}

.logo {
    padding: 12rem 3rem;
}

.input-group {
    margin: 0 .45rem .45rem;
    min-height: 2.8rem;
}

    .input-group.big {
        min-height: 6rem;
    }

.input-group-text {
    text-align: center;
    display: grid;
    background-color: #0881ec2b;
    color: #095a9d;
}

.srch {
    width: .25rem !important;
}

.skills {
    border: none;
}
<<<<<<< HEAD

.approve {
    border-radius: 3px;
    width: 95%;
    height: 2.3rem;
}
=======
>>>>>>> defcc4714ee1b51c41a61c765718ca7e0f50bea8
